@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 138px;
  margin-left: 69px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 464px;
  margin-left: 30px;
  padding-right: 125px;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  margin: 0 auto;
  background-color: #808080;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.hero-list {
  display: block;
  margin: 0;
  padding: 0;
}

.characteristics {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 651px;
}

.characteristics-description {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
}

.characteristics-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
}

.advantages-places {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-places-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-points {
  display: block;
  width: 400px;
  box-sizing: border-box;
  background-color: #82B3D3;
  padding: 85px;
}

.advantages-item {
  display: block;
  width: 400px;
  box-sizing: border-box;
  background-color: #f3f8fc;
  text-align: center;
  padding: 85px;
}

.advantages-item-point {
  background-color: #e8f3fc;
}

.advantages-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

.search {
  display: block;
  text-align: center;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding-top: 0 304px;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  padding: 0 304px;
}

.search-hotel {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0 304px;
}

.newsletter {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}

.newsletter--main {
  background-image: url("../images/landscape.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-color: #808080;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 398px;
}

.newsletter-title--main {
  color: #ffffff;
}

.newsletter-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  padding: 0 362px;
}

.newsletter-text--main {
  color: #ffffff;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 170px;
  margin-left: 70px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.page-footer a {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}

.footer-social a {
  font-size: 22px;
  line-height: 26px;
}

.page-footer .htmlacademy-link {
  font-size: 22px;
  line-height: 26px;
}

.about {
  margin-left: auto;
  margin-right: 70px;
  max-width: 115px;
}

.filter {
  margin: 0 auto;
  background-color: #808080;
  background-image: url("../images/landscape2.jpg");
  background-repeat: no-repeat, no-repeat;
}

.filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
}

.filter-breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}

.filter-catalog {
  display: flex;
  flex-direction: row;
}

.filter-catalog-group {
  width: 180px;
  margin-left: 70px;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.filter-catalog-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}

.filter-catalog-list {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}

.buttons button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
}

.buttons input {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
}

.product {
  display: block;
  margin-left: 70px;
  margin-right: 70px;
  width: 1060px;
}

.result {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.product-card {
  background-color: #ffffff;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-card-type {
  font-weight: 400;
}

.product-card-price {
  font-weight: 400;
}

.product-card-info {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.hotels-raiting {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}
