@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.body-container {
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  width: 138px;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 464px;
  width: 100%;
  margin: 0;
  margin-left: 254px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 310px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
  padding: 22px 15px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.count-badge {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
  padding: 3px 5px;
  letter-spacing: -0.1em;
  margin-top: -9px;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navigation-points {
  display: block;
  margin: 0;
  margin-right: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-points-current {
  border-bottom: 2px solid #756257;
}

.navigation-button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  margin: 0;
  margin-left: 20px;
  border-radius: 4px;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding-top: 51px;
  background-color: #808080;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  min-height: 485px;
}

.hero-list {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.hero-item-images {
  margin-top: 8px;
  margin-bottom: 50px;
}

.characteristics {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 90px;
  max-width: 1200px;
  width: 100%;
}

.characteristics-list {
  margin: 0 auto;
  max-width: 651px;
}

.characteristics-description {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.characteristics-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.advantages-places {
  margin: 0;
  padding: 0;
}

.advantages-places {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 384px;
  margin: 0;
  padding: 0;
}

.advantages-places-reverse {
  flex-direction: row-reverse;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 384px;
  margin: 0;
  padding: 0;
}

.advantages-points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  background-color: #82B3D3;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 92px;
  padding-bottom: 111px;
  margin: 0;
}

.advantages-photo {
  height: 384px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  padding-bottom: 121px;
  margin: 0;
}

.advantages-item-point {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-images {
  padding-top: 80px;
  padding-bottom: 81px;
  justify-content: flex-end;
}

.advantages-name {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 172px;
}

.advantages-name:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 55px;
  right: 55px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0 27px;
}

.advantages-title-line {
  position: relative;
}

.advantages-title-line:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 57px;
  right: 57px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-title-home {
  position: relative;
  padding-bottom: 30px;
}

.advantages-title-home:before {
  position: absolute;
  content: url("../images/home-icon.svg");
  bottom: 80px;
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-title-food {
  position: relative;
  padding-bottom: 30px;
  min-width: 80px;
}

.advantages-title-food:before {
  position: absolute;
  content: url("../images/iconfood.svg");
  bottom: 80px;
  right: 0;
  left: 0;
}

.advantages-title-present {
  position: relative;
  padding-bottom: 30px;
}

.advantages-title-present:before {
  position: absolute;
  content: url("../images/present.svg");
  bottom: 80px;
  right: 0;
  left: 0;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0;
}

.search-list {
  margin: 0 auto;
  max-width: 592px;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin-bottom: 52px;
  padding: 0;
}

.search-hotel {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0;
  margin-left: 108px;
  margin-right: 108px;
  border-radius: 4px;
}

.search-hotel:hover {
  background-color: #615048;
}

.search-hotel:focus {
  background-color: #615048;
}

.search-hotel:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-list {
  margin: 0 auto;
  max-width: 684px;
}

.newsletter--main {
  background-image: url("../images/landscape.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-color: #808080;
  margin: 0 auto;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.newsletter-title--main {
  color: #ffffff;
}

.newsletter-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
  padding: 0;
}

.newsletter-form {
  display: flex;
  padding: 0;
  margin: 0;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  margin: 0;
  border: none;
  background-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 432px;
}

.newsletter-text--main {
  color: #ffffff;
}

.newsletter-button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.newsletter-button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.page-footer-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;

}

.footer-social {
  width: 170px;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 11px 12px;
  width: 47px;
  height: 40px;
}

.footer-icon {
  fill: #83B3D3;
}

.footer-social-link:hover .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer a {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}

.footer-social a {
  font-size: 22px;
  line-height: 26px;
}

.about {
  margin-left: auto;
  margin-right: 70px;
  max-width: 115px;
}

.htmlacademy-link:hover .about-icon {
  fill: #756157;
}

.htmlacademy-link:focus .about-icon {
  fill: #756157;
}

.htmlacademy-link:active .about-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container-close {
  display: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-auth {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 15px;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #F2F2F2;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.adults-form {
  display: flex;
  justify-content: space-between;
}

.children-form {
  display: flex;
  justify-content: space-between;
  width: 242px;
}

.modal-form-people {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.form-label {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding-right: 15px;
}

.field-box {
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  margin-left: 26px;
  width: 110px;
  height: 48px;
}

.field-name {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.field-name-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.field-name-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.field-button:focus {
  outline: 3px solid #82B3D3;
}

.field-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 4px;
  margin: 11px 7px;
  padding: 0;
  border: none;
  background-color: #F2F2F2;
}

.field-input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #000000;
  border: none;
  width: 420px;
  border-radius: 4px;
}

.field-input::placeholder {
  color: #000000;
}

.date-form-start {
  position: relative;
}

.label-calendar-start {
  position: absolute;
  top: 16px;
  right: 23px;
  fill: #a6a6a6;
}

.date-form-end {
  position: relative;
}

.label-calendar-end {
  position: absolute;
  top: 16px;
  right: 23px;
  fill: #a6a6a6;
}

.field-input::-webkit-outer-spin-button,
.field-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.field-input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;
}

.field-input[type="number"] {
  appearance: textfield;
}

.field-input-date:hover {
  background-color: #E6E6E6;
}

.field-input-date:focus {
  background-color: #E6E6E6;
  outline: 2px solid #83B3D3;
}

.field-input:active {
  background-color: #F2F2F2;
  color: #000000;
  outline: 2px solid #000000;
}

.date-start-description {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  font-weight: 400;
  padding-left: 157px;
  margin-top: 4px;
  margin-bottom: 23px;
}

.date-end-description {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  padding-left: 157px;
  margin-top: 4px;
  margin-bottom: 23px;
}

.adults-input {
  width: 31px;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}

.tooltip {
  position: absolute;
  margin: 0;
  margin-left: -6px;
  width: 20px;
  height: 20px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.field-choice {
  fill: rgba(117, 97, 87, 0.3);
}

.field-button:hover .field-choice {
  fill: #000000;
}

.field-button:focus .field-choice {
  fill: #000000;
}

.field-button:active .field-choice {
  fill: rgba(0, 0, 0, 0.3);
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding-top: 15px;
  padding-left: 22px;
  padding-right: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
  margin-top: 6px;
  width: 216px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.appointment-submit {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 18px 256px;
  width: 577px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.appointment-submit:hover {
  background-color: #68A2CA;
}

.appointment-submit:focus {
  background-color: #68A2CA;
}

.appointment-submit:active {
  background-color: #82B3D3;
  color: #b3b3b3;
}

.filter {
  margin: 0 auto;
  background-color: #808080;
  background-image: url("../images/landscape2.jpg");
  background-repeat: no-repeat, no-repeat;
  padding-top: 35px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 70px;
}

.filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.filter-breadcrumbs-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-hotels-image {
  margin-left: 10px;
  margin-right: 5px;
}

.filter-breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  margin: 0 auto;
}

.filter-breadcrumbs:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-breadcrumbs:focus {
  color: #ffffff;
}

.filter-breadcrumbs:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-catalog {
  display: flex;
  flex-direction: row;
  max-width: 1087px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.filter-catalog-group {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.filter-catalog-group:nth-child(2),
.filter-catalog-group:nth-child(4) {
  margin-right: 0;
}

.filter-catalog-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-catalog-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 32px;
}

.filter-catalog-list {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.filter-catalog-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  background-image: url("../images/mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 4px solid #83B3D3;
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 4px solid #83B3D3;
}

.control-input[type="radio"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 400;
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-label {
  color: #ffffff;
}

.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.filter-range {
  max-width: 288px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  margin-right: 70px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.range-input {
  width: 120px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  appearance: textfield;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.range-input-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 2px;
}

.range-input-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-input-name {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3);
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  outline: 4px solid #83B3D3;
}

.range-input:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;
}


.range-scale {
  position: relative;
  height: 4px;
  background-color: #808080;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 4px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -15px;
}

.filter-catalog-buttons {
  margin-top: 56px;
}

.filter-catalog-buttons button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  padding: 8px 50px;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.filter-catalog-buttons button:hover {
  background-color: #68A2CA;
}

.filter-catalog-buttons button:focus {
  background-color: #68A2CA;
}

.filter-catalog-buttons button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.filter-catalog-buttons button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.filter-catalog-buttons input {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  padding: 8px 50px;
  margin: 0;
  margin-top: 32px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.filter-catalog-buttons input:hover {
  color: #d9d9d9;
}

.filter-catalog-buttons input:focus {
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #83B3D3;
  border-radius: 4px;
}

.filter-catalog-buttons input:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-catalog-buttons input:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.product {
  display: block;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 1060px;
}

.result {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 197px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  font-weight: 400;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  width: 292px;
  background-image: url("../images/arrowdown.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
}

.select-control {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #000000;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.sorting-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:last-child {
  margin: 0;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  background-color: #ffffff;
  border: 2px solid #000000;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.product-list {
  position: relative;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: grid;
  align-items: center;
  grid-template-columns: 140px 140px;
  row-gap: 15px;
  column-gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.product-card-image {
  object-fit: contain;
}

.product-card-link {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  justify-self: start;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.product-card-type {
  color: #333333;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-self: start;
  font-weight: 400;
}

.product-card-price {
  color: #333333;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
  font-weight: 400;
}

.product-card-info {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 26px;
  border-radius: 4px;
}

.product-card-info:hover {
  background-color: #615048;
}

.product-card-info:focus {
  background-color: #615048;
}

.product-card-info:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-info:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.product-card-button {
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.product-card-button:hover {
  background-color: #68A2CA;
}

.product-card-button:focus {
  background-color: #68A2CA;
}

.product-card-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.product-card-button-selected {
  background-color: #7DB54F;
}

.product-card-button-selected:hover {
  background-color: #6C9E42;
}

.product-card-button-selected:focus {
  background-color: #6C9E42;
}

.product-card-button-selected:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-selected:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.hotels-stars {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  padding-top: 10px;
  padding-right: 6px;
  justify-self: start;
  margin: 0;
}

.hotels-raiting {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 22px;
  margin: 0;
  border-radius: 4px;
}

.product-list:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #E6E6E6;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 400px;
  list-style-type: none;
  margin: 0;
  margin-top: 83px;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  min-height: 60px;
  justify-content: center;
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next {
  color: #000000;
  background-color: #ffffff;
}
