@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 138px;
  margin-left: 69px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 464px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 310px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  margin: 14px 0;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  margin: 0 auto;
  background-color: #808080;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.hero-list {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  list-style-type: none;
}

.hero-item-logo {
  padding-top: 54px;
}

.characteristics {
  display: block;
  margin: 0 auto;
  width: 651px;
}

.characteristics-description {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 69px;
}

.characteristics-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 90px;
}

.advantages-places {
  margin: 0;
  padding: 0;
}

.advantages-places {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  max-height: 384px;
  margin: 0;
  padding: 0;
}

.advantages-places-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 384px;
  margin: 0;
  padding: 0;
}

.advantages-points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  background-color: #82B3D3;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 92px;
  padding-bottom: 111px;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  background-color: #f3f8fc;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  padding-bottom: 121px;
  margin: 0;
}

.advantages-item-point {
  background-color: #e8f3fc;
}

.advantages-item-images {
  padding-top: 80px;
  padding-bottom: 81px;
}

.advantages-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: 27px;
  margin-right: 27px;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.search {
  display: block;
  text-align: center;
  margin: 0;
  padding: 96px 304px;

}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 54px;
  padding: 0;
}

.search-hotel {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0;
}

.newsletter {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px;
}

.newsletter--main {
  background-image: url("../images/landscape.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-color: #808080;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.newsletter-title--main {
  color: #ffffff;
}

.newsletter-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 54px;
  margin: 0;
}

.newsletter-form {
  padding: 0;
  margin: 0;
}

.field {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  margin: 0;
}

.newsletter-text--main {
  color: #ffffff;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 50px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-social {
  width: 170px;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.page-footer a {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}

.footer-social a {
  font-size: 22px;
  line-height: 26px;
}

.page-footer .htmlacademy-link {
  font-size: 22px;
  line-height: 26px;
}

.about {
  margin-left: auto;
  margin-right: 70px;
  max-width: 115px;
}

.filter {
  margin: 0 auto;
  background-color: #808080;
  background-image: url("../images/landscape2.jpg");
  background-repeat: no-repeat, no-repeat;
  padding: 0;
  padding-top: 35px;
}

.filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 70px;
  margin: 0;
  margin-bottom: 8px;
}

.filter-hotels {
  display: flex;
  align-items: center;
  width: 114px;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 70px;
}

.filter-hotels-icon {
  margin-right: 10px;
}

.filter-breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

.filter-catalog {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}

.filter-catalog-group {
  width: 150px;
  margin-left: 70px;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 525px;
}

.filter-catalog-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}

.filter-catalog-list {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  max-height: 157px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.buttons button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  padding: 8px 50px;
  margin: 0;
}

.buttons input {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  padding: 8px 50px;
  margin: 0;
  margin-top: 32px;
}

.product {
  display: block;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 1060px;
}

.result {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 292px;
  margin-right: auto;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

.product-card {
  background-color: #ffffff;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-card-type {
  font-weight: 400;
}

.product-card-price {
  font-weight: 400;
}

.product-card-info {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.hotels-raiting {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}
